@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --bgDark: #071e22;
    --bgLight: #0b2f36;
    --gray: #788585;
    --light: #dff8eb;
    --accent: #ff715b;
    --accentDark: #6c534e;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

body{
    margin: 0;
    padding: 0;
    overflow: overlay;
	min-height: 100vh;
    background-color: var(--bgDark);
    color: white;
}

h1{
	font-size: 2rem;
	font-weight: 700;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

p > span{
    font-size: 1.1rem;
    font-weight: 500;
}
.font1{
    font-size: 1rem;
}
.font2{
    font-size: 2rem;
}
.font3{
    font-size: 3rem;
}
.font4{
    font-size: 4rem;
}
.font5{
    font-size: 5rem;
}
.font6{
    font-size: 6rem;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: column;
}
button, input, .btn, textarea{
    all: unset;
    cursor: pointer;
    font-size: clamp(1rem, 1em, 24px);
    border-radius: 0.5rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
button, .btn{
    padding: 0.5em 2em;
    margin: 0.5em;
}
input, textarea{
    padding: 0.5em 0.5em;
    width: 100%;
    box-sizing: border-box;
}
a.btn{
    text-decoration: none;
    display: inline-block;
}
button:hover, input:hover{
    background-color: #ffffff;
    color: #000000;
}
button.accentOrange{
    background-color: var(--accentOrange);
    border: none;
}
button.accentBlue{
    background-color: var(--accentBlue);
    border: none;
}
input[type="submit"]{
    text-align: center;
    background-color: var(--accentOrange);
    border: none;
}
