@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&display=swap');

:root{
    --accentOrange: #ff6f00;
    --accentBlue: #00b0ff;
    --dark: #000000;
    --medium: #1c1c1c;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

body{
    margin: 0;
    padding: 0;
    overflow: overlay;
	min-height: 100vh;
    background-color: var(--dark);
    color: white;
}

h1{
	font-size: 2rem;
	font-weight: 700;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

p > span{
    font-size: 1.1rem;
    font-weight: 500;
}
.font1{
    font-size: 1rem;
}
.font2{
    font-size: 2rem;
}
.font3{
    font-size: 3rem;
}
.font4{
    font-size: 4rem;
}
.font5{
    font-size: 5rem;
}
.font6{
    font-size: 6rem;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: column;
}
button, input, .btn, textarea{
    all: unset;
    cursor: pointer;
    font-size: clamp(1rem, 1em, 24px);
    border-radius: 0.5rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
button, .btn{
    padding: 0.5em 2em;
    margin: 0.5em;
}
input, textarea{
    padding: 0.5em 0.5em;
    width: 100%;
    box-sizing: border-box;
}
a.btn{
    text-decoration: none;
    display: inline-block;
}
button:hover, input:hover{
    background-color: #ffffff;
    color: #000000;
}
button.accentOrange{
    background-color: var(--accentOrange);
    border: none;
}
button.accentBlue{
    background-color: var(--accentBlue);
    border: none;
}
input[type="submit"]{
    text-align: center;
    background-color: var(--accentOrange);
    border: none;
}
